/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .div col-lg-8 col-12 {
        display:none;
    }
    
    .website {
        width: 80%;
        height: 80%;
        margin-right: 10%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .div col-lg-8 col-12 {
        display:none;   
    }
    
    .website {
        width: 80%;
        height: 80%;
        margin-right: 10%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .div col-lg-8 col-12 {
        display:contents;
    }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .div col-lg-8 col-12 {
        display: contents;
    }
    
    .website {
        width: 80%;
        height: 80%;
        margin-right: 10%;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .div col-lg-8 col-12 {
        display: contents;
    }
    .website {
    width: 80%;
    height: 80%;
    margin-right: 10%;
    margin: 15% 0 15% 15%
}
